.videos{
    margin-top:2rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    height:400px;
    overflow:scroll;
}

.video{
    padding:1rem;
    position:relative;
    height:120px;
    border-radius:8px;
    background-image: linear-gradient(#eee, white);
}

.video h2{
    font-size:.7rem;
    text-transform:uppercase;
}
.video p {
    font-size:.6rem;
    font-weight:300;
    border-top:1px solid #444;
    padding-top:5px;
    position:absolute;
    bottom:1rem;
    left:1rem;
}
